// variable list

// Colors list
$red: #f06292;
$orange: #f1d3b3;

$white: #fff;
$grey: #9b9b9b;
$grey-dark: #222;

// Main colors
$primary: $red;
$secondary: $orange;

// Fonts
$base-font-size: 16px;
$main-font-size: $base-font-size;
$main-font: 'Poppins', sans-serif;
 
// breakpoint
$medium: 1024px;